/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

@font-face {
	font-family: MarkProMed;
    src: url(../fonts/MarkPro-Medium_ALt.otf);
}
blockquote {
	border-left: 2px solid grey;
	padding-left: 12px;
}
.container-fluid {
	padding-left: 12px;
	padding-right: 12px;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.flex-column > .nav-item > a.nav-link {
	color: #495057;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 0px;
}
.tools a {
	color: #495057;
}
.justify-left {
	text-align: left;
}
hr.tiny {
	margin: 1rem;
}
.col-left {
	padding-top: 65px;
}
nav.navbar {
	position: absolute;
	width: 100%;
	z-index: 10;
}
.navbar .dropdown-menu {
	top: 60px;
	border-radius: 0px;
}
.sidebar-sticky {
	margin-top: 0.5rem;
}
.sidebar-sticky p {
	margin-bottom: 0px;
}
.col-right {
	border-left: solid 1px #efefef;
}
.step-circle.step-circle-sm {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
}

.docs-card .avatar.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

.docs-card .fa-download {
		color: #6b757f;
		font-size: 14px;
}

.docs-card .text-muted {
    font-size: 14px;
}


.bell {
	 fill: #24447b;
	 -webkit-animation: ring 4s .7s ease-in-out infinite;
	 -webkit-transform-origin: 50% 4px;
	 -moz-animation: ring 4s .7s ease-in-out infinite;
	 -moz-transform-origin: 50% 4px;
	 animation: ring 4s .7s ease-in-out infinite;
	 transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
	 0% { -webkit-transform: rotateZ(0); }
	 1% { -webkit-transform: rotateZ(30deg); }
	 3% { -webkit-transform: rotateZ(-28deg); }
	 5% { -webkit-transform: rotateZ(34deg); }
	 7% { -webkit-transform: rotateZ(-32deg); }
	 9% { -webkit-transform: rotateZ(30deg); }
	 11% { -webkit-transform: rotateZ(-28deg); }
	 13% { -webkit-transform: rotateZ(26deg); }
	 15% { -webkit-transform: rotateZ(-24deg); }
	 17% { -webkit-transform: rotateZ(22deg); }
	 19% { -webkit-transform: rotateZ(-20deg); }
	 21% { -webkit-transform: rotateZ(18deg); }
	 23% { -webkit-transform: rotateZ(-16deg); }
	 25% { -webkit-transform: rotateZ(14deg); }
	 27% { -webkit-transform: rotateZ(-12deg); }
	 29% { -webkit-transform: rotateZ(10deg); }
	 31% { -webkit-transform: rotateZ(-8deg); }
	 33% { -webkit-transform: rotateZ(6deg); }
	 35% { -webkit-transform: rotateZ(-4deg); }
	 37% { -webkit-transform: rotateZ(2deg); }
	 39% { -webkit-transform: rotateZ(-1deg); }
	 41% { -webkit-transform: rotateZ(1deg); }
	 43% { -webkit-transform: rotateZ(0); }
	 100% { -webkit-transform: rotateZ(0); }
}
@-moz-keyframes ring {
	 0% { -moz-transform: rotate(0); }
	 1% { -moz-transform: rotate(30deg); }
	 3% { -moz-transform: rotate(-28deg); }
	 5% { -moz-transform: rotate(34deg); }
	 7% { -moz-transform: rotate(-32deg); }
	 9% { -moz-transform: rotate(30deg); }
	 11% { -moz-transform: rotate(-28deg); }
	 13% { -moz-transform: rotate(26deg); }
	 15% { -moz-transform: rotate(-24deg); }
	 17% { -moz-transform: rotate(22deg); }
	 19% { -moz-transform: rotate(-20deg); }
	 21% { -moz-transform: rotate(18deg); }
	 23% { -moz-transform: rotate(-16deg); }
	 25% { -moz-transform: rotate(14deg); }
	 27% { -moz-transform: rotate(-12deg); }
	 29% { -moz-transform: rotate(10deg); }
	 31% { -moz-transform: rotate(-8deg); }
	 33% { -moz-transform: rotate(6deg); }
	 35% { -moz-transform: rotate(-4deg); }
	 37% { -moz-transform: rotate(2deg); }
	 39% { -moz-transform: rotate(-1deg); }
	 41% { -moz-transform: rotate(1deg); }
	 43% { -moz-transform: rotate(0); }
	 100% { -moz-transform: rotate(0); }
}
@keyframes ring {
	 0% { transform: rotate(0); }
	 1% { transform: rotate(30deg); }
	 3% { transform: rotate(-28deg); }
	 5% { transform: rotate(34deg); }
	 7% { transform: rotate(-32deg); }
	 9% { transform: rotate(30deg); }
	 11% { transform: rotate(-28deg); }
	 13% { transform: rotate(26deg); }
	 15% { transform: rotate(-24deg); }
	 17% { transform: rotate(22deg); }
	 19% { transform: rotate(-20deg); }
	 21% { transform: rotate(18deg); }
	 23% { transform: rotate(-16deg); }
	 25% { transform: rotate(14deg); }
	 27% { transform: rotate(-12deg); }
	 29% { transform: rotate(10deg); }
	 31% { transform: rotate(-8deg); }
	 33% { transform: rotate(6deg); }
	 35% { transform: rotate(-4deg); }
	 37% { transform: rotate(2deg); }
	 39% { transform: rotate(-1deg); }
	 41% { transform: rotate(1deg); }
	 43% { transform: rotate(0); }
	 100% { transform: rotate(0); }
}




/* RESPONSIVE CSS */

@media (min-width: 768px) {
	.col-left, .col-right {
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 3rem;
		padding-top: 60px;
	}
	.row-height {
		height: 100vh;
	}
}
@media (max-width: 768px) {
	.nav-right {

	}
	.nav-left {
		display: none;
	}
}
.people {
	padding-top: 1.5rem;
}
.media-body>.h6 {
	font-weight: 500;
	color: #575a5d;
}
